.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2rem;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

.quadrant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.quadrant {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.quadrant:nth-child(1),
.quadrant:nth-child(2) {
  flex-basis: 45%;
}

.quadrant h2 {
  text-align: center;
}

.task {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.done-task {
  text-decoration: line-through;
}

.task button {
  margin-left: 1rem;
}

.task:hover {
  cursor: move;
}

.task div {
  font-size: 1.1rem;
  padding: 5px;
}

.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-left: 100px;
}

.task-form h2 {
  margin-bottom: 1rem;
}

.task-form input {
  margin-bottom: 1rem;
  width: 300px;
  height: 30px;
}

.task-form select {
  margin-bottom: 1rem;
  width: 200px;
  height: 35px;
}

.task-form label {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
  .quadrant {
    flex: auto;
  }
}